/* Location: /app/globals.css */
@import "@blocknote/core/style.css";
/* <-- ADD THIS LINE */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a body background color */
body {
    @apply bg-gray-50;
    margin: 0;
}